*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.body-home{
    margin: 0px;
    background-color: #000;
    color : #fff;
}
.body-index{
    background-color: #000;
    height: 100vh;
    position: relative;
}
body{
    overflow-x: hidden;
}

.titulo{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: 57px;
}
.block-index{
    position: absolute;
    top: 24%;
    text-align: center;
    left: 39%;
    margin: 0 auto;
}

.carta{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas, #computadora-cartas{
    height: 240px;
}

.negro {
    /* filter: brightness(0.01); */
    /* filter: blur(21px); */
    filter: contrast(0.002);
    border: 3px solid red;
    border-radius: 15px;
}

.animate__backInDown{
    --animate-duration: 2s;
}